{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/af_upload.css'%}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js" integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Document</title>

</head>
<body>
 
    <div align = "center" >

      <div align="center">
        <div class="card">
            <img src="{{img}}" alt="Card Image" id = "image">
          </div>
          <p>Make Your Choice</p>     
      </div>
     
      <a href="{% url 'ResizerTool:choose_resize_options' id=id %}"   class="button"   id="resize" >

        Resize Image

      </a>


      <a href="{% url 'ResizerTool:enhancement_adjust' id=id %}"   class="button"   id="e_adjust"  >

        Adjust Enhancement

      </a>

      <a href="{% url 'ResizerTool:filter' id=id %}"   class="button"   id="filter" >

        Add Image Filter

      </a>

      <a href="{% url 'ResizerTool:home' %}"   class="button">

        Upload Another

      </a>

      
    <script src="{% static 'js/af-upload.js' %}"></script>
    </div>

</body>
</html>

